.image-loader-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.image-loader {
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  background: #eaeaea;
  left: 0;
  top: 0;
  position: absolute;
}
