# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Downloaded data
data/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
captum/insights/frontend/node_modules/
captum/insights/frontend/.pnp/
captum/insights/frontend/build/
captum/insights/widget/static/
lib/
lib64/
parts/
sdist/
var/
wheels/

*.egg-info/
.installed.cfg
*.egg

# watchman
# Watchman helper
.watchmanconfig

# OSX
*.DS_Store

# Atom plugin files and ctags
.ftpconfig
.ftpconfig.cson
.ftpignore
*.tags
*.tags1

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
captum/insights/frontend/npm-debug.log*
captum/insights/frontend/yarn-debug.log*
captum/insights/frontend/yarn-error.log*

# Unit test / coverage reports
htmlcov/
captum/insights/frontend/coverage
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# mypy
.mypy_cache/

# vim
*.swp

# Sphinx documentation
sphinx/build/

# Docusaurus
website/build/
website/i18n/
website/node_modules/

## Generated for tutorials
website/_tutorials/
website/static/files/
website/pages/tutorials/*
!website/pages/tutorials/index.js

## Generated for Sphinx
website/pages/api/
website/static/js/*
!website/static/js/mathjax.js
!website/static/js/code_block_buttons.js
website/static/_sphinx-sources/
node_modules
captum/insights/attr_vis/widget/static
